---
import Base from "../layouts/Base.astro";
import Sidebar from "../components/Sidebar.astro";
import Terminal from "../components/Terminal.astro";
import Sections from "../components/Sections.astro";
---

<Base>
  <div class="flex h-dvh overflow-hidden">
    <Sidebar />
    <Terminal />
  </div>
  <Sections />
</Base>

<script>
  import "../scripts/terminal";
</script>
